{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">

  <div class="span7">
    <p>
    Tsung reports tool collector.
    </p>
    <p> 
      Maheki organize your tsung reports by client, campaign, host. It
      can deals with auto reporting depends on services running on
      hosts.
    </p>
    <hr/>
    <p>
      <img src="/static/sample.png">
    </p>
  </div>

  <div class="span5">
    <form method="post" action="." class="well">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="{% trans 'Login' %}" />
      <input type="hidden" name="next" value="{{next}}" />
    </form>
    
    <p>{% trans "Forgot password" %} ? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
    
  </div>
</div>

{% endblock %}
