{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="span8">
    <h3>{% trans "Api" %}</h3>
    <div class="well">
      {{user.first_name}} {{user.last_name}}
      <ul>
	    <li>Login : {{user}}</li>
	    <li>Key : {{apikey.key}}</li>
      </ul>
    </div>

    <h3>{% trans "Renew" %}</h3>
    <div class="well">
      <ul>
	    <li><a href="/accounts/profile/apikey/renew">{% trans "Renew" %}</a></li>

      </ul>
    </div>

  </div>
</div>

{% endblock %}
