{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">

  <div class="span8">
      <h3>{% trans "Runs" %}</h3>

      <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>{% trans "Bench" %}</th>
	        <th>{% trans "Run" %}</th>
	        <th>{% trans "Date" %}</th>
	        <th>{% trans "Status" %}</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for run in runs %}
	      <tr>
            <td>{{run.bench.name}}</td>
	    <td><a href="/run/{{run.id}}/report">#{{run.number}} {{run.code}}</a></td>
            <td>{{run.start}}</td>
            <td class="status" class="padding: 0px;">
              <svg width="16" height="20">
                <circle cx="7" cy="13" r="6" class="{{run.status_class}}"/>
              </svg>
            </td>

	      </tr>
	      {% endfor %}
	    </tbody>
      </table>

      <h3>{% trans "Campaigns" %}</h3>

      <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>{% trans "Name" %}</th>
	        <th>{% trans "Start" %}</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for campaign in campaigns %}
	      <tr>
	        <td><a href="/campaign/{{campaign.id}}">{{campaign.name}}</a></td>
	        <td>{{campaign.start}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
      </table>
  </div>
  
  <div class="span4">
    <h3>Account</h3>
    <div class="well">
      {{user.first_name}} {{user.last_name}}
      <ul>
	    <li>Login : {{user}}</li>
	    <li>email : {{user.email}}</li>	    
      </ul>
    </div>

    <h3>{% trans "Client" %}</h3>
    <div class="well">
      <ul>
	    {% for client in clients %}
	    <li>
	      <a href="/client/{{client.id}}">{{client.name}}</a>
        </li>        
	    {% endfor %}
      </ul>
    </div>

    <h3>{% trans "Api" %}</h3>
    <div class="well">
      <ul>
	    <li>Key : <a href="/accounts/profile/apikey">Show my key</a></li>
      </ul>
    </div>

  </div>
  
</div>

{% endblock %}
