{% extends "base.html" %}
{% load i18n %}
{% block content %}

<ul>
  <li>Source : <a href="https://gitorious.org/maheki">https://gitorious.org/maheki</a></li>
  <li>Licence : GPLv3</li>
  <li>Author : <a href="http://blog.rodolphe.quiedeville.org/">Rodolphe Quiédeville</a></li>
</ul>

{% endblock %}
