<script src="{{ STATIC_URL }}js/bootstrap-addons.min.js"></script>
<!--
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
-->
  </body>
</html>
