{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  
  <div class="span6">
    
    <div class="well">
      
      <form method="post" action=".">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="{% trans 'Log in' %}" />
	<input type="hidden" name="next" value="{{next}}" />
      </form>

    </div>

  </div>

  <div class="span6">
    Tsung reports
  </div>

</div>


{% endblock %}
