{% load i18n %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">Maheki</a>
     
      {% if user.is_authenticated %}
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/campaigns">{% trans "Campaigns" %}</a></li>
          <li><a href="/benchs">Benchs</a></li>
          <li><a href="/nfr">NFR</a></li>
          <li><a href="/hosts">Hosts</a></li>
          <li><a href="/definition">Graphs</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      {% endif %}

      <p class="navbar-text pull-right">
	{% if user.is_authenticated %}
	<a href="/accounts/profile/">{{ user.username }}</a> /
	<a href="/accounts/logout/">logout</a>
	{% endif %}
      </p>

    </div><!--/.container -->
  </div><!--/.navbar-inner -->

</div><!--/.navbar -->
