{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h4>{{run.bench.name}} - <a href="/campaign/{{run.bench.campaign.id}}">{{run.bench.campaign.name}}</a></h4>
<h5>{{run.start}} - {{run.stop}} : {{run.duration}}</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for measure in measures.all %}
    <tr>
      <td>{{ measure.name }}</td>
      <td>{{ measure.metric }}</td>
      <td>{{ measure.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
