{% extends "base.html" %}
{% load i18n %}
{% load graphiturl %}
{% block content %}

<div class="row">
  <div class="span4">
    <h4>Bench</h4>
    <ul>
      <li>{{bench.name}}</li>
      <li>Campaign : <a href="/campaign/{{bench.campaign.id}}">{{bench.campaign.name}}</a></li>
      <li>{% trans "Number of runs" %} : <b>{{bench.nbruns}}</b></li>      
    </ul>

  </div>
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr><th>#</th><th></th>
          <th></th>
          <th class="span3">{% trans "Start" %}</th>
          <th class="span3">{% trans "Duration" %}</th>
          <th class="span3">{% trans "Status" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for run in runs %}
        <tr>
          <td>{{run.number}}</td>
          <td><a href="/run/{{run.id}}/report">report</a></td>
          <td></td>
          <td>{{run.start}}</td>
          <td>{{run.duration}}</td>
          <td class="status" class="padding: 0px;">
            <svg width="16" height="20">
              <circle cx="7" cy="13" r="6" class="{{run.status_class}}"/>
            </svg>

            <svg width="180" height="20" class="status-grid">
              {{run.statusgrid|safe}}
            </svg>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
