{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">

  <div class="span4">
    <h1>{% trans "Benchs" %}</h1>
  </div>

  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span1"></th>
          <th class="span3">{% trans "Name" %}</th>
          <th class="span3">{% trans "Hosts" %}</th>
          <th class="span3">{% trans "# runs" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for bench in object_list %}
        <tr>
          <td>{{bench.id}}</td>
          <td><a href="/bench/{{bench.id}}">{{bench.name}}</a></td>
          <td>
	        {% for host in bench.hosts.all %}
	        {{host.name}}
	        {% endfor %}
          </td>
          <td>{{bench.nbruns}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
