{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">

  <div class="span4">
    <h1>{% trans "Campaigns" %}</h1>
  </div>

  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span3">{% trans "Name" %}</th>
          <th class="span3">{% trans "Start" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for campaign in object_list %}
        <tr>
          <td><a href="/campaign/{{campaign.id}}">{{campaign.name}}</a></td>
          <td>{{campaign.start}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
