{% extends "base.html" %}
{% load i18n %}
{% load graphiturl %}
{% block content %}

<div class="row">
  <div class="span4">
    <h4>{% trans "Campaign" %}</h4>
    <div class="well swell">{{campaign.name}}</div>    
  </div>
  <div class="span4">
       
    <h3>{% trans "Associated Benchs" %}</h3>
    {% for bench in benchs %}
    <div class="row">
      <div class="span6 well">
        <a href="/bench/{{bench.id}}">{{bench.name}}</a> {{bench.description}}

      </div>    
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
