{% extends "base.html" %}
{% load i18n %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for def in object_list %}
    <tr>
      <td><a href="/definition/{{def.family}}">{{def.family}}</a></td>
      <td>{{def.id}}</td>
      <td>{{def.name}}</td>
      <td>{{def.title}}</td>
      <td>{{def.url}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
