{% extends "base.html" %}
{% load i18n %}
{% load graphiturl %}
{% block content %}

<div class='row'>
  <div class="span12 well">
    {{object.name}}

    {% for service in object.services.all %}
    {{service}}
    {% endfor %}
  </div>
</div>

{% for graph in graphs %}
{% cycle '<div class="row">' '' %}
  <div class="span6">
    <a href="/graph/{{graph.id}}/{{object.id}}?{{period}}">
      <img src="http://{{graphite_server}}/render?{{period}}&majorGridLineColor=black&width={{width}}&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&{% gurl graph.url %}">
    </a>
  </div>    
{% cycle '' '</div>' %}
{% endfor %}
{% endblock %}
