{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="span4">
    <h3>{{nfr.name}}</h3>
    Used in <a href="{{nfr.bench.url}}">{{nfr.bench.name}}</a>
    <div>
      <a href="/nfr/{{nfr.id}}">All</a>
    </div>
  </div>
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span3">{% trans "Name" %}</th>
          <th class="span3">{% trans "Metric" %}</th>
          <th class="span3">{% trans "Warning" %}</th>
          <th class="span3">{% trans "Critical" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for req in requs %}
        <tr>
          <td><a href="/nfr/{{nfr.id}}/{{req.name}}">{{req.name}}</a></td>
          <td>{{req.metric}}</td>
          <td>{{req.warn}}</td>
          <td>{{req.crit}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
