{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">

  <div class="span4">
    <h4>{% trans "Non Functionnal Requirement sets" %}</h4>
  </div>

  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Bench" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for nfr in object_list %}
        <tr>
          <td><a href="/nfr/{{nfr.id}}">{{nfr.name}}</a></td>
          <td><a href="{{nfr.bench.url}}">{{nfr.bench}}</a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
