{% extends "base.html" %}
{% load i18n %}
{% load graphiturl %}
{% block content %}
<h1>{{bench.name}}</h1>
<h2><a href="/campaign/{{bench.campaign.id}}">{{bench.campaign.name}}</a></h2>

{% for graph in graphs %}
{% cycle '<div class="row">' '' %}
  <div class="span6">
    <img src="http://{{graphite_server}}/render?{{period}}&majorGridLineColor=black&width={{width}}&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&{% gurl graph.url %}&uniqueLegend=True">
  </div>    
{% cycle '' '</div>' %}
{% endfor %}

{% endblock %}
