{% extends "base.html" %}
{% load i18n %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
      <th class="span3">{% trans "start" %}</th>
      <th class="span3">{% trans "stop" %}</th>
      <th class="span3">{% trans "Duration" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for bench in object_list %}
    <tr>
      <td><a href="/bench/{{bench.id}}">{{bench.host.name}}</a></td>
      <td>{{ bench.start }}</td>
      <td>{{ bench.stop }}</td>
      <td>{{ bench.duration }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
