{% extends "base.html" %}
{% load i18n %}
{% load humanize }}
{% load graphiturl %}
{% block content %}

<div class="row">

  <div class="span4">
    <div>
      <h4>#{{run.number}}, {{run.duration}} long</h4>
      <div>
        <p>from {{run.start}} to {{run.stop}}</p>
      </div>

      <p>
        {% if prev_run %}
        <a href="/run/{{prev_run.id}}/report">&lt;- previous run</a>
        {% else %}
        <s>&lt;- previous run</s>
        {% endif %}
        {% if next_run %}
        <a href="/run/{{next_run.id}}/report">next run -&gt;</a>{% endif %}
      </p>
    </div>

    <div id="graph" class="well"><!-- D3JS --></div>

    <div class="well">
     <div> Bench : <a href="{{run.bench.url}}">{{run.bench.name}}</a></div>
      <div>NFR : <a href="{{nfr.url}}">{{nfr.name}}</a></div>
    </div>
  </div>

  <div class="span8">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Count" %}</th>
          <th>{% trans "Min" %}</th>
          <th>{% trans "Max" %}</th>
          <th>{% trans "Mean" %}</th>
          <th>{% trans "Stdev" %}</th>
          <th>{% trans "Qt95" %}</th>
          <th>{% trans "Qt98" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for measure in measures %}
        <tr>
          <td><a href="/bench/{{run.bench.id}}/t/{{ measure.name }}">{{ measure.name }}</a></td>
          <td class="measure-{{measure.count_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/count/{{measure.name}}/json')">{{measure.count|floatformat}}</a>
          </td>
          <td class="measure-{{measure.min_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/min/{{measure.name}}/json')">{{measure.min}}</a>
          </td>
          <td class="measure-{{measure.max_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/max/{{measure.name}}/json')">{{measure.max}}</a>
          </td>
          <td class="measure-{{measure.mean_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/mean/{{measure.name}}/json')">{{measure.mean|floatformat:2}}</a>
          </td>
          <td class="measure-{{measure.stdev_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/stdev/{{measure.name}}/json')">{{measure.stdev}}</a>
          </td>
          <td class="measure-{{measure.quantile95_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/quantile95/{{measure.name}}/json')">{{measure.quantile95}}</a>
          </td>
          <td class="measure-{{measure.quantile98_class}}">
            <a href="#" onclick="bench_evol('/bench/{{run.bench.id}}/metric/quantile98/{{measure.name}}/json')">{{measure.quantile98}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
{% endblock %}
