{% extends "base.html" %}
{% load i18n %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for host in object_list %}
    <tr>
      <td>{{host.name}}</td>
      <td>{{host.category}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
