{% extends "base.html" %}
{% load i18n %}
{% load humanize }}
{% block content %}

<div class="row">

  <div class="span8">
    <div id="transgraph"><!-- D3JS --></div>
  </div>

  <div class="span4">
    <h3>{{trans_name}} {{metric}}</h3>
    <div>
      <a href="{{bench.url}}/t/{{trans_name}}/max">max</a>
      <a href="{{bench.url}}/t/{{trans_name}}/min">min</a>
      <a href="{{bench.url}}/t/{{trans_name}}/quantile95">quantile95</a>
    </div>
    <h3>{{requirementstrans_name}}</h3>
    <p><a href="{{bench.url}}">{{bench.name}}</a></p>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for run in runs %}
        <tr>
          <td>
            {{run.start}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<script type="text/javascript">
  bench_trans("{{bench.id}}","{{trans_name}}","{{metric}}",{{requirement.warn}},{{requirement.crit}});
</script>
{% endblock %}
