{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="span4">
    <div class="well">
      <h3>{{client.name}}</h3>
    </div>
  </div>
  <div class="span8">
    {% trans "Users" %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "login" %}</th>
          <th>{% trans "Firstname" %}</th>
          <th>{% trans "Lastname" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
