/*
 * CSS for Maheki
 * Copyright (c) 2013 Rodolphe Quiédeville <rodolphe@quiedeville.org>
 *
 */

.table td { line-height: 14px; }

div.page-header {
                  border-bottom: none;
                  margin: 0px;
                  padding-bottom: 12px;
                  }

span.badge:hover{
             cursor:default;
             }

#container {
             padding-top: 4px;
             }


.swell {         
         padding: 4px;
 }


.measure-crit a {
                  padding: 4px;
                  font-weight: bold;
                  color: black;

                  background-color: #ff0033;
                  }

.measure-warn a {

                  background-color: #ffbb46;
                  font-weight: bold;
                  padding: 4px;
                  color: black;
                  }

.measure-norm a {                   padding: 4px; }

