/* tell the SVG path to be a thin blue line without any area fill */
path { 
       stroke-width: 1;
       fill: none;
       }       

.limitc { 
         stroke: red;
         stroke-width: 2;
         }         

.limitw { 
         stroke: orange;
         stroke-width: 2;
         }         


.data1 { 
         stroke: steelblue;
         stroke-width: 2;
         }         


 
.data2 { 
         stroke: orange;
         }
 
.axis { 
        shape-rendering: crispEdges;
        }
 
.x.axis line { 
               stroke: lightgrey;
               }       
 
.x.axis .minor { 
                 stroke-opacity: .5;
                 }  
 
.x.axis path { 
               display: none;
               }

.x.axis text { 
               font-size: 14;
               }               

.y.axis line, .y.axis path { 
                             fill: none;
                             stroke: #000;
                             }              
 
.y.axis text { 
               font-size: 14;
               }
 
.y.axisRight text { 
                    fill: orange;
                    }     

.y.axisLeft text { 
                   fill: steelblue;
                   }

#graph { height:160px; }
#transgraph { height:460px; }

/* */

.table td.status { padding: 2px; }

/* svg.status-grid { border: 1px black solid; } */

.status-ok { 
    fill: green;
    stroke: black;
    stroke-width: 1;
 }

.status-warning { 
    fill: orange;
    stroke: black;
    stroke-width: 1;
 }

.status-critical { 
    fill: red;
    stroke: black;
    stroke-width: 1;
 }
